html, body {
	background: #000000;
	height: 100%;
}

body {
	color: #FFFFFF;
}
.control {
	position: relative;
	z-index: 1;
}
.box {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	z-index: 0;
}